.header {
  font-family: 'Mukta Vaani', sans-serif;
  color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 4fr 1fr 1fr;
  grid-template-rows: 80px;
  grid-template-areas: 'brand menu share';
}