.brand {
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-left: 15px;
}
.logo {
  width: 80px;
}
.brand_title {
  font-size: 0.6rem;
  font-weight: 500;
  letter-spacing: 0.3rem;
  margin-left: 10px;
  color: white;
  text-transform: uppercase;
}