.shareModal {
	height: 160px;
	width: 240px;
	background: #222222;
	position: absolute;
	top: 80px;
	right: -240px;
	z-index: 100;
}
.socialBtns{
	width: 80px;
	height: 80px;
	background-color: #F57500;
	opacity: 0;
	color:white;
}
.returnBtn{
	width: 80px;
	height: 80px;
	background-color: #313131;
	opacity: 0;
}
.socialIcons{
	height: 30%;
	width: 30%;
}
.returnIcon{
	height: 30%;
	width: 10%;
	color: #F57500;
}