.shareModal {
	height: 150px;
	width: 0px;
	background: rgba(255, 255, 255, 0.05);
	position: absolute;
	top: 80px;
	right: 0px;
}
.socialBtns{
	width: 33.3%;
	height: 75px;
	background-color: #F57500;
	opacity: 0;
	color:white;
}
.returnBtn{
	width: 33.3%;
	height: 75px;
	background-color: #313131;
	opacity: 0;
}
.socialIcons{
	height: 30%;
	width: 30%;
}
.returnIcon{
	height: 30%;
	width: 10%;
	color: #F57500;
}