.app {
  font-family: 'Mukta Vaani', sans-serif;
  color: white;
  display: grid;
  width: 100%;
  grid-template-columns: 1fr 80px 80px;
  grid-template-rows: 80px 1fr 1fr;
  grid-template-areas: 
    'branding menu share'
    'content content content'
    'content content content'
  ;
}

.modalMask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.modal {
  position: relative;
  top: 80px;
  right: 0;
}
.brand {
  grid-area: branding;
}
.menuBtn {
  grid-area: menu;
}
.shareBtn {
  grid-area: share;
}
.aside {
  grid-area: aside;
  display: none;
}
.subTitle {
  grid-area: subTitle;
}
.content {
  grid-area: content;
  height: 80px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 5px;
  margin-left: 15px;
}




// ***** Below is the template for media queries *****
//  **** Just copy and paste this into your scss file ****

// XX-Small devices (portrait phones, less than 564px)
// No media query for `xs` since this is the default in Bootstrap

// X-Small devices (landscape phones, 564px and up)
@media (min-width: 564px) { 
  //something here
 }
// Small devices (landscape phones, 600px and up)
@media (min-width: 600px) {
  .app {
    grid-template-columns: 1fr 120px 150px;
    grid-template-rows: 80px 1fr 1fr;
    grid-template-areas: 
      'branding menu share'
      'content content content'
      'content content content'
    ;
  }
 }

// Medium devices (tablets, 764px and up)
@media (min-width: 764px) { 
  //something here
 }

// Large devices (desktops, 1064px and up)
@media (min-width: 1064px) { 
  .app {
    grid-template-columns: 80px 4fr 120px 2fr;
    grid-template-rows: 80px 1fr 80px;
    grid-template-areas: 
      'branding branding menu subTitle'
      'aside content content content'
      'share content content content'
    ;
  }
 }

// X-Large devices (large desktops, 1260px and up)
@media (min-width: 1260px) { 
  //something here
 }

// XX-Large devices (larger desktops, 1500px and up)
@media (min-width: 1500px) { 
  //something here
 }