@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

$background-color: #313131;
$primary-color: #F57500;
$secondary-color: #313131;
$tertiary-color: #fff;

body {
  background-color: $background-color;
}
